<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
	
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property> <!-- BD Mane -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!-- DB Driver -->
        <property name="connection.username">root</property> <!-- DB User -->
        <property name="connection.password">Alex2004</property> <!-- DB Password -->
   		
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!-- DB Dialect -->
                
        <property name="current_session_context_class">thread</property> <!-- Enabled Hibernated´s automaticsession context manegement -->
                
        <property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->
   			
        <mapping class="com.invest.entidades.DetallesRevistas"/>

		
    </session-factory>
</hibernate-configuration>